body {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}
h1 {
  font-weight: bold;
  font-size: 50px;

}
a {
  color: Aquamarine;
  font-size: 16px;
}
img {
  margin: auto;

}
p {
  color: gray;
  font-size: 21px;
}
footer p {
  text-align: right;
}
video {
  object-fit: contain;
}
.app {
  width: : 64px;
  height: : 108px;
}
